ErrorDocument 404 /view/pageErreur.php

#RewriteEngine on
#RewriteRule ^index/([0-9]+)$ index.php?mdpOublie=$1 [L]

#RewriteEngine On
#RewriteRule ^/?nids/index/([0-9]+)/(.*)$ /nids/index.php?cible=$1 [L,QSA]
