/*changement du fond du site*/

body {
    background-color: #3C3D51;
    font-family: Arial;
    margin: 0;
}

/*division de base*/

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

/*changement du style en fonction de la taille de fenêtre*/

@media screen and (max-width: 650px) {
    .container {                /*changement du container*/
        flex-wrap: wrap;
    }
}

/*division pour la gestion globale*/

div.gestionGlobale {
    background-image: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(60,61,81,1) 100%);
    border-radius: 10px;
    color: #FFFFFF;
}

/*bouton pour choix des pieces*/

div.fil {
    background-color: #3C3D51;
    overflow: auto;
}

/*bouton des appartements*/

.boutonAppart {
    color: #000000;
    width: 100%;
    height: 50px;
    font-size: 20px;
    float: left;
    background-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.boutonAppart:hover {     /*bouton de base changeant en passant dessus*/
    background-color: #000000;
    background-image: none;
    color: white;
}

.boutonAppart:focus {
    outline-color: #3c3d51;
}

/*style du bouton actif dans le fil*/

.activerAppart {
    background: gray;
    color: #FFFFFF;
}

.activerAppart:hover {
    background: gray;
    color: #FFFFFF;
}

/*bouton pieces de l'appartement*/

.boutonFil {
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-image: linear-gradient(#3C3D51 0%, #3C3D51 100%);
    border-radius: 50px;
    border-style: none;
    float: left;
}

/*changement en passant dessus*/

.boutonFil:hover {
    background-image: linear-gradient(0deg, rgba(60,61,81,1) 0%, rgba(207,207,207,1) 100%);
    color: white;
}

.boutonFil:active {
    background-image: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(60,61,81,1) 100%);
}

.boutonFil:focus {
    outline-color: #3c3d51;
}

/*bouton pieces de l'appartement*/

.boutonFil2 {
    color: #000000;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-image: linear-gradient(rgba(207,207,207,1) 0%, rgba(207,207,207,1) 100%);
    border-style: none;
    float: left;
}

/*changement en passant dessus*/

.boutonFil2:hover {
    background-image: linear-gradient(0deg, rgba(60,61,81,1) 0%, rgba(207,207,207,1) 100%);
    color: white;
}

.boutonFil2:active {
    background-image: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(60,61,81,1) 100%);
    color: #FFFFFF;
}

.boutonFil2:focus {
    outline-color: #3c3d51;
}

/*style du bouton actif dans le fil*/

.activer {
    background-image: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(60,61,81,1) 100%);
    color: #FFFFFF;
}

.activer:hover {
    background-image: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(60,61,81,1) 100%);
    color: #FFFFFF;
}

/*division contenant les différents capteurs*/

#zoneCapteurs {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}

#zoneClients {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
}
/*bandeau contenant nom, et boutons pour chaque capteur*/

div.titre {
    background-color: #FFFFFF;
    border-radius: 9px;
    padding: 5px;
    border: solid 1px #000000;
    text-align: initial;
}

div.titreSup {
    text-align: center;
    font-size: 20px;
}

div.titre2 {
    grid-column: 1/3;
    grid-row: 1;
}

/*division contenant toutes les infos des capteurs*/

div.caseCapteur {
    background-image: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(60,61,81,1) 100%);
    border-radius: 10px;
    width: 400px;
    height: 200px;
    border: solid 1px #000000;
    margin: 20px;
}

/*division contenant toutes les clients*/

#divClients {
    background-image: none;
    background-color: rgba(207,207,207,1);
    width: 100%;
    height: auto;
    border: solid 1px #000000;
}

.compte {
    display: grid;
    grid-template-columns: repeat(2,50%);
}


/*division contenant toutes les infos du clients*/

div.caseClient {
    background-image: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(60,61,81,1) 100%);
    border-radius: 10px;
    width: 250px;
    height: 100px;
    border: solid 1px #000000;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

/*cadre avec les données des capteurs*/

div.actionneur {
    background: none;
    font-size: 30px;
    padding: 2px;
    color: #000000;     /*blanc de base, plus lisible en noir*/
    font-weight: bold;
    display: inline-block;
    justify-content: center;
    position: absolute;
    text-align: center;
}


/*bouton de base*/

.bouton {
    margin: 5px;
    color: #000000;
    background-color: #FFFFFF;
    background-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.bouton:focus {
    outline-color: #3c3d51;
}

/*bouton pour commander tous les capteurs à la fois*/

.boutonGlobal {
    width: 150px;
    height: 50px;
    font-size: 20px;
    float: left;
}

.boutonGlobal2 {
    width: 150px;
    height: 50px;
    font-size: 20px;
    float: left;
}

.bouton:hover {     /*bouton de base changeant en passant dessus*/
    background-color: #000000;
    background-image: none;
    color: white;
}


/*bouton ajout de capteur*/

.boutonAjout {
    font-size: 20px;
}

/*style pour les différentes icones utilisées*/

.icone {
    width: 50px;
    height: 50px;
}

/*image du capteur qui sera affiché*/

.imageCapteur {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 15px;
}

/*icones de modification du capteur*/

i.editionCapteur {
    display: inline;
    float: right;
    font-size: 25px;
    margin-right: -2px;
    margin-top: -3.5px;
    margin-left: 10px;
    color: black;
}

/* mettre le capteur sous tension*/

i.on {
    margin: 5px;
    color: greenyellow;
}

/* mettre le capteur hors tension*/

i.off {
    margin: 5px;
    color: red;
}

/*paragraphe demandant de choisir une salle*/
p.info {
    font-size: 3vw;
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 800px){
    p.info {
        font-size: 25px;
    }
}

@media screen and (max-width: 460px){
    div.actionneur {
        font-size: 6vw;
    }

    .imageCapteur {
        width: 32vw;
        height: 32vw;
    }
}

#boite {
    padding: 20px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3C3D51;
    margin-right: 5%;
    margin-left : 5%;
}

.support{
    text-align: center;
    font-size: 40px;
}
.contacteznous{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    border-top: 1px solid #FFFFFF;
}
/* Espacement entre les questions */
.faq-section{
    margin: 40px 0;
}

/* Masquer les checkbox et les paragraphes */
.faq-section input,
.faq-section p{
    display: none;
}


/* Si le checkbox est coché, montrer tous les paragraphes */
.faq-section input[type=checkbox]:checked~p{
    background-color: rgba(207,207,207,1);
    display: block;
    border: solid 1px #000000;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    color: black;
    font-size: 1.5em;
    /* Restaurer le texte entier */
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}

/* Style des label */
.faq-section label{
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    background: #eee;
    display: block;
    position: relative;
    padding: 7px 10px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-left: 3px solid #888;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    transition: all .15s ease-out;
}

/* Éviter de sélectionner le texte en cliquant plusieurs fois */
.faq-section label::selection{
    background: none;
}

.faq-section label:hover{
    background: #f5f5f5;
}

/* Style du label si le checkbox est coché */
.faq-section input[type=checkbox]:checked~label{
    border-color: #3C3D51;
    box-shadow: 0 0 1px;
}

/* Flèche du label par défaut */
.faq-section label::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit;
}

/* Flèche du label sélectionné */
.faq-section input[type=checkbox]:checked~label::before{
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;
}


.bloc{
    display: inline-block;
    border-radius: 10px;
    background-image: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(60,61,81,1) 100%);
    width: 100%;
}

div.displayflex {        /*division pour la gestion globale*/
    display: flex;
    justify-content: space-around;
}

.container2 {                /*division de base*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.listPersonne{
    border: 1px solid black;
    background-color: #FFFFFF;
    color: black;
    margin: 9px;
    border-radius: 10px;
}

.list2{
    margin-right: 20px;
    margin-left: 20px;
}

form.formulaire {
    /* Uniquement centrer le formulaire sur la page */
    margin: auto;
    width: 95.5%;
    height: 100%;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #000000;
    border-radius: 10px;
    display: inline-block;
}

label.ed {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 20%;
    text-align: right;
}

input.edi, textarea.edit {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;

    /* Pour que tous les champs texte aient la même dimension */
    width: 70%;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}

input.edi:focus, textarea.edit:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
}

table{
    border-collapse: collapse;
}

th{
    background-color: #999999;
    border: 1px solid black;
    font-weight: normal;
}

td {
    background-color: #CCCCCC;
    border: 1px solid black;
    color: black;
}

.imgInput {
    width: 20px;
    height: 20px;
    border: none;
}

ul.client {
    padding: 0;
    width: 100%;
    height: 200px;
}
li.client {
    width: 100%;
}


#divReponse {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -100;
    display: none;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%);
}

.case {
    background-image: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(60,61,81,1) 100%);
    border-radius: 10px;
    width: 400px;
    height: 200px;
    border: solid 1px #000000;
    display: inline-grid;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    align-content: center;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 10px;
}

input.ajouter{
    background-color : black;
    height: 25px;
    width: 75px;
    color : white;
}

.descriCapteur{
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    color : white;
}

.prixElement{
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.img{
    width: 150px;
    height: 150px;
    border-color: black;
    border-width: 10px;
    border-style: inset;
}
caption{
    color : white;
    padding-top: 8px;
    padding-bottom: 50px;
    font-size: 55px;
    margin: auto;
    justify-content: center;
}

h1.alert {
    font-size: 20px;
}

td.catalogue{
    border : 1px solid white;
    text-align: center;
    padding: 10px 100px 10px 100px;
    width: 100%;
    background-color: #979ACC;
}

td.catalogue2{
    border : 1px solid white;
    text-align: center;
    background-color: #979ACC;
    height: 50px;
}

td.nom {
    width: 20%;
}
td.head{
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: bolder;
    width: 12px;
    background-color: #05083E;
    color: #FFFFFF;
}

@media screen and  (max-width: 10000px) {
    td.catalogue{
        padding: 0;
    }
}
@media screen and  (max-width: 1080px) {
    .bloc {
        display:block;
        clear:both;
    }
    td.catalogue{
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    .catalogue2{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    .catalogue {
        font-size: 3vw;
    }
    .catalogue2 {
        font-size: 2vw;
    }
    .img{
        width: 50px;
        height: 50px;
        border:5px ;
    }
    .boutonAjout2{
        font-size : 2vw;
        height: 50px;
        width: 50px;
    }
    td.catalogue{
        padding: 0;
    }

}

@media screen and (max-width: 200px) {
    td.catalogue{
        padding: 0;
    }
    .boutonAjout2{
        font-size : 2.5vw;
        height: 50px;
        width: 50px;
    }
}
.choixPage2 {
    width: 250px;
    height: 60px;
    border: solid 3px white;
    background-color: #3C3D51;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-size: 20px;

}

.choixPage2:hover{
    background-color: darkgrey;
    color: #05083E;
    border-color: #05083E;
    font-weight: bold;
}

.choixPage2:active{
    background-color: blue;
}

.choixPage2:focus{
    outline-color: #3c3d51;
}


.redirection2{
    width: 170px;
    height: 44px;
    border: solid 3px white;
    background-color: #3C3D51;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    margin-left: 500px;
    margin-top: 150px;

}
.redirection2 :hover{
    background-color: darkgrey;
    color: #05083E;
    border-color: #05083E;
    font-weight: bold;
}

.imgfb{
    width: 75px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;

}
.imgtwt{
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.imgyou{
    width: 125px;
    height: 75px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
#boite1 {
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3C3D51;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: auto;
}

.explications {
    color: #ffffff;
    font-size: 15px;
    border-width: 5px;
    border-color: #3C3D51;
    border-style: solid;
}

.contenu {
    width: 70%;
    height: 300px;
}

.form {
    text-align: center;
}

.inputForm {
    width: 365px;
}

@media screen and (max-width: 900px) {
    .choixPage2 {
        width: 125px;
        font-size: 15px;
    }

    label.ed{
        font-size: 15px;
    }

    .explications{
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    .bloc {
        grid-column: 1 / 3;
    }
}
@media screen and (max-width: 650px) {
    .choixPage2 {
        width: 100px;
        font-size: 12px;
    }

    label.ed{
        font-size: 12px;
    }

    .explications{
        font-size: 12px;
    }
}

@media screen and (max-width: 587px) {
    .choixPage2 {
        width: 90px;
        font-size: 10px;
    }

    label.ed{
        font-size: 10px;
    }

    .explications{
        font-size: 10px;
    }
}
@media screen and (max-width: 410px) {
    .choixPage2 {
        width: auto;
    }
    .case{
        width: 350px;
    }
    .inputForm {
        width: 305px;
    }
    caption {
        font-size: 30px;
    }
}

@media screen and (max-width: 340px) {
    .case{
        width: 300px;
    }

    .boutonGlobal2{
        width: 100px;
        font-size: 15px;
    }

    h1.alert {
        font-size: 15px;
    }

    .inputForm {
        width: 255px;
    }
}

.ajoutPiece {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.compteSec {
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 6px;
}

label.edition {
    text-align: center;
    font-size: 15px;
    width: 200px;
}

div.compteSecondaire {
    border-bottom: black solid;
    padding: 10px;
}