/*Boite au centre de la page d'accueil*/
.boxCentre{
    width: 740px;
    height: 580px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
/*Boite contenant les formulaires*/
.box{
    color: black;
    background-color: white;
    border: 5px solid black;
    text-align: center;
    width: 340px;
    height: 590px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

/*classe des formulaires*/
.boxConnexion1{
    border: 1px solid black;
    width: 315px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*les entrées dans lesquelles les informations sont mises*/
.input{
    width: 180px;
    margin: auto;
}

/*Boite avec les identifiants entrés*/
.boxIdentifiant {
    font-size: 80%;
    border: 0;
    margin-top: 5px;
    margin-left: -5px;
    margin-right: auto;
}

/*affichage de message de vérification des entrées*/
p.put {
    margin: 0;
    color: white;
}

/*boite avec le lien mdp oublié*/
.boxOubli {
    color: blue;
    border: 0;
    margin: 0;
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 80%;
}

/*boite avec les boutons*/
.boxBouton{
    border: 0;
    width: 260px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*classe du bouton de connexion et inscription*/
.button{
    background-color:#3C3D51;
    text-decoration: none;
    font-size: 90%;
    width: 120px;
    color: white;
    text-align: center;
    margin: 15px;
    padding: 15px;
}