.boxCentre{
    width: 740px;
    height: 580px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

}

.box{
    color: black;
    background-color: white;
    border: 5px solid black;
    text-align: center;
    width: 340px;
    height: 500px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.boxConnexion1{
    border: 1px solid black;
    width: 315px;
    height: 390px;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input{
    width: 180px;
    margin: auto;
}

.boxIdentifiant {
    font-size: 80%;
    border: 0;
    margin: 0;
}

.boxOubli {
    color: blue;
    border: 0;
    margin: 0;
    text-decoration: underline;
    font-style: italic;
    font-size: 80%;
}

.boxBouton{
    border: 0;
    width: 295px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button{
    background-color:#3C3D51;
    text-decoration: none;
    font-size: 90%;
    width: 120px;
    color: white;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

#divReponse {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1000;
}

.case {
    position: fixed;
    top: 25%;
    left: 35.5%;
    align-content: center;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
}




